.ios,
.md {
    page-home {
        .scroll-content {
            height: 100%
        }
        #map {
            width: 100%;
            height: 80%;
        }
    }
}

.locationFab {
    position: absolute;
    left: 40%;
    top: 60%;
    width: 100%;
    text-align: center;
}